{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Path</th>
                <th>Datecreated</th>
                <th>Enable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.title }}</td>
                <td>{{ image.path }}</td>
                <td>{% if image.dateCreated %}{{ image.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if image.enable %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('image_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('image_edit', { 'id': image.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_new') }}">Create a new image</a>
        </li>
    </ul>
{% endblock %}
